body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  padding: 15px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

button {
  padding: 8px;
  background: #231A6D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart {
  margin-top: 30px;
  background: white;
  padding: 15px;
}
